:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #4a4a4a; 
  background-color: #ffe4e9; 

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #ff4f79; 
  text-decoration: inherit;
}
a:hover {
  color: #ff2d5d; 
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: #ffe4e9;
  color: #ff85a2;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  color: #ff85a2; 
}

.delete {
  margin-left: 50px;
}

.delete, .buttonAdd  {
  border-radius: 50px; 
  border: none;
  padding: 10px 20px 10px 20px; 
  margin-top: 10px;
  font-size: 1.2em; 
  font-weight: bold;
  font-family: inherit;
  background-color: #ff4f79;
  color: white;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 4px 10px rgba(255, 0, 98, 0.3); 
}

.delete, .buttonAdd:hover {
  background-color: #ff2d5d; 
  box-shadow: 0 6px 14px rgba(255, 0, 98, 0.5); 
  transform: scale(1.05); 
}

.delete, .buttonAdd:active {
  transform: scale(0.95); 
}

.card {
  padding: 2em;
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(255, 0, 98, 0.3); 
}

.inputTasks {
  width: 100%;
  padding: 1em;
  font-size: 1.1em;
  font-weight: 500;
  border: 2px solid transparent; 
  border-radius: 5px; 
  background-color: #f39dd2; 
  outline: none;
  transition: border-color 0.3s ease;
}

.task-container {
  display: flex;
  align-items: center;
}

.task-checkbox {
  margin-right: 10px; 
  
}

.inputTasks:focus {
  border-color: #ff4f79; 
  box-shadow: 0 2px 5px rgba(255, 0, 98, 0.3); 
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@media (prefers-color-scheme: dark) {
  :root {
    color: #ffffff;
    background-color: #f8d7da; 
  }
  a:hover {
    color: #ff2d5d;
  }
  button {
    background-color: #ff6f91; 
    color: white;
  }
}
